MXD_ddf_doc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- version 1.1.0 of August 9th 2005 -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dtv.dk/mxd/xml/schemas/2005/08/12/" targetNamespace="http://dtv.dk/mxd/xml/schemas/2005/08/12/" elementFormDefault="qualified" xml:lang="EN">
  <import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2004/10/xml.xsd"/>
  <element name="ddf_doc" type="tns:DdfDocType">
    <unique name="organisationAffiliationKey">
      <annotation>
        <documentation xml:lang="en-uk">This construct ensures that all OrganisationAffiliationKeys are unique within the document</documentation>
      </annotation>
      <selector xpath="./tns:organisation"/>
      <field xpath="@aff_no"/>
    </unique>
    <keyref name="organisationAffiliationNumberKeyRef" refer="tns:affiliationKey">
      <annotation>
        <documentation xml:lang="en-uk">This keyref/key ensures that a person only references existing organisations</documentation>
      </annotation>
      <selector xpath="./tns:person"/>
      <field xpath="@aff_no"/>
    </keyref>
    <key name="affiliationKey">
      <selector xpath="./tns:organisation"/>
      <field xpath="@aff_no"/>
    </key>
  </element>
  <complexType name="DdfDocType">
    <annotation>
      <documentation xml:lang="en-uk">Root element of one document record. Other DDF record types similarly have type-specific root elements, ddf_pro for projects, ddf_org for organisations, ddf_per for persons, etc.</documentation>
    </annotation>
    <sequence>
      <element name="title" type="tns:_TitleType">
        <annotation>
          <documentation xml:lang="en-uk">Title of the work in focus. Other titles such as conference titles and titles of host publications (journals, books) are recorded in other elements, ddf_doc/event and ddf_doc/publication respectively. The element is organised in the following 2 sub-elements: title/original (mandatory) title/translated (optional and repeatable)</documentation>
        </annotation>
      </element>
      <element name="description" type="tns:_DescriptionType">
        <annotation>
          <documentation xml:lang="en-uk">The description element is the common container for a variety of descriptive data types that deal with the content of the document, such as notes, abstracts, subject classifications and keywords etc. The description element is not mandatory but should be used whenever such data is available. The element is organised in the following sub-elements: description/abstract (summary of the content), description/thesis (special structured note for academic thesis), description/note (other descriptive notes), description/subject/keyword (free or controlled keywords), description/subject/class (classification system codes).</documentation>
        </annotation>
      </element>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="person" type="tns:_PersonType">
          <annotation>
            <documentation xml:lang="en-uk">This repeatable element is used to record information about any person related to the creation of the document (like authors, editors, composers, publishers, illustrators etc.). Each person and the corresponding role are recorded in a separate instance of the element and the sequence should follow that of the document title page. The correct attribution of persons to documents is essential for any statistical purposes. The element is organised in the following sub-elements of which most are optional: person/name (split in first and last name), person/id (various forms of identification numbers - optional), person/title (personal title - optional), person/birthdate (optional), person/country (of citizenship - recommended), person/address (postal - optional), person/email (optional), person/uri (link to web page - optional)</documentation>
          </annotation>
        </element>
      </sequence>
      <sequence maxOccurs="unbounded">
        <element name="organisation" type="tns:_OrganisationType">
          <annotation>
            <documentation xml:lang="en-uk">This repeatable element is used to record information about any organisation related to the document, whether it be as the affiliation of an author, as a corporative author or in any other capacity of importance for the document. Each organisation and the corresponding role is recorded in a separate instance of the element. The correct attribution of organisations to documents is essential for any statistical purposes. The element is organised in the following sub-elements: organisation/name (split in up to 4 hierarchical levels and acronym), organisation/id (optional), organisation/country (recommended), organisation/uri (link to web page - optional)</documentation>
          </annotation>
        </element>
      </sequence>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="project" type="tns:_ProjectType">
          <annotation>
            <documentation xml:lang="en-uk">This repeatable element is used to record information about any project related to the document. Each project and the corresponding role are recorded in a separate instance of the element. The attribution of projects to documents will allow users to jump easily between projects and their documents. The element is organised in the following sub-elements: project/title (split in main and sub and acronym), project/id (optional) project/uri (link to web page - optional)</documentation>
          </annotation>
        </element>
      </sequence>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="event" type="tns:_EventType">
          <annotation>
            <documentation xml:lang="en-uk">This repeatable element is used to record information about any event (conference, seminar, workshop, meeting, course, etc.) related to the document. Each event and its corresponding role are recorded in a separate instance of the element. The element is organised in the following sub-elements: event/title (split in full, acronym and number), event/dates (split in start and end), event/place (split in start and end), event/uri (link to web page - optional)</documentation>
          </annotation>
        </element>
      </sequence>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="local_field" type="tns:_LocalFieldType">
          <annotation>
            <documentation xml:lang="en-uk">This repeatable and optional element is used to handle additional information using a locally defined two-level field structure, where a local field may have one or more parallel subfields. The local_field/@tag_type attribute is used to pass instructions on how to index and display the field and its subfields in the receiving system. The element is organised in the following sub-elements: local_field/code (field code), local_field/data (field data), local_field/subfield (subfield likewise split in code and data)</documentation>
          </annotation>
        </element>
      </sequence>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="publication" type="tns:PublicationType">
          <annotation>
            <documentation xml:lang="en-uk">
              The mandatory publication element carries all the information about how the document was published in the widest sense of the word, including electronic availability via personal homepages, institutional repositories and similar web sites. The publication element is structured in 8 publication cases, each with its own repertoire of subelements: • In a journal (as an article or similar) • In a book (as a chapter or similar) • In a report (as a chapter or similar) • As a book (the book as a whole) • As a report (the report as a whole) • As a patent (or patent application) • As an Internet publication (institutional repository, preprint archive, home page etc.) • Any other form of publication These cases correspond to the sub-elements: in_journal, in_book, in_report, book, report, patent, inetpub and other. At least one of these cases must be applied, but often two or more cases may be applied concurrently. For example, a journal article may be published "In a
              journal" and at the same be available at the author’s institutional repository “As an Internet publication".
            </documentation>
          </annotation>
        </element>
      </sequence>
    </sequence>
    <attribute name="format_version" use="required" fixed="1.0.0">
      <annotation>
        <documentation xml:lang="en-uk">The particular version of the exchange format used, for the current version "1.0.0". Once subsequent versions have been issued, this will aid the schema validation and other applications parsing the XML.</documentation>
      </annotation>
    </attribute>
    <attribute name="doc_type" type="tns:_DocTypeType" use="required">
      <annotation>
        <documentation xml:lang="en-uk">Code for type of document (like "dja" for "journal article") according to the DDF list of types and their codes (see note). Code is used for various retrieval and sorting purposes, see Annex 1.</documentation>
      </annotation>
    </attribute>
    <attribute name="doc_lang" type="language" use="required">
      <annotation>
        <documentation xml:lang="en-uk">Code for language of the document itself. Codes must follow the W3C rules for xml:lang, which means complying with IETF RFC 1766 and ISO 639.</documentation>
      </annotation>
    </attribute>
    <attribute name="doc_year" type="gYear" use="required">
      <annotation>
        <documentation xml:lang="en-uk">Annual report year of the document (may differ from publication year) in the format yyyy. This is used for various sorting and searching purposes as well as for data management.</documentation>
      </annotation>
    </attribute>
    <attribute name="doc_review" type="tns:_DocReviewType" use="required">
      <annotation>
        <documentation xml:lang="en-uk">Code indicating the type of review the document has been subject to like "peer-review" or "no review". See note for DDF list of review types and their codes. Code is used for various retrieval and sorting purposes, see Annex 1.</documentation>
      </annotation>
    </attribute>
    <attribute name="doc_level" type="tns:_DocLevelType" use="required">
      <annotation>
        <documentation xml:lang="en-uk">Code indicating literary scope or level of the document, like "scientific", "educational", "popular". See note for DDF list of levels and their codes. Code is used for various retrieval and sorting purposes, see Annex 1.</documentation>
      </annotation>
    </attribute>
    <attribute name="rec_source" type="tns:_RecSourceType" use="required">
      <annotation>
        <documentation xml:lang="en-uk">Code of exporting database/institution. Each organisation/database acting as a source and exporting records to DDF is registered with a unique code. See note for DDF list of source database codes.</documentation>
      </annotation>
    </attribute>
    <attribute name="rec_id" type="string" use="required">
      <annotation>
        <documentation xml:lang="en-uk">The data supplier’s local/original ID of the record – must be unique per data supplier. In case supplier is exporting from more than one local database, which may use the same IDs, these must be prefixed (with database name or similar) to become unique within the supplier’s data.</documentation>
      </annotation>
    </attribute>
    <attribute name="rec_upd" type="date" use="required">
      <annotation>
        <documentation xml:lang="en-uk">Last update date of the exporting database in the format yyyy-mm-dd</documentation>
      </annotation>
    </attribute>
    <attribute name="rec_status" type="tns:_RecStatusType" use="required">
      <annotation>
        <documentation xml:lang="en-uk">Code indicating whether the record is to be considered as "new", "updated" or "deleted". See note for DDF list of record status codes.</documentation>
      </annotation>
    </attribute>
  </complexType>
  <complexType name="_TitleType">
    <sequence>
      <element name="original" type="tns:_TitleOriginalType">
        <annotation>
          <documentation xml:lang="en-uk">The title in the original language – use sub-elements below</documentation>
        </annotation>
      </element>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="translated" type="tns:_TitleTranslatedType">
          <annotation>
            <documentation xml:lang="en-uk">The title translated to another language – use sub-elements below</documentation>
          </annotation>
        </element>
      </sequence>
    </sequence>
  </complexType>
  <complexType name="_LocalFieldType">
    <sequence>
      <!-- RdC: replaced NCName by the less restrictive LocalFieldCodeType -->
      <element name="code" type="tns:_LocalFieldCodeType">
        <annotation>
          <documentation xml:lang="en-uk">Field code (tag) using a-z and 0-9 only</documentation>
        </annotation>
      </element>
      <element name="data" type="string">
        <annotation>
          <documentation xml:lang="en-uk">Field data</documentation>
        </annotation>
      </element>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="subfield" type="tns:_LocalFieldCodeDataType">
          <annotation>
            <documentation xml:lang="en-uk">Repeatable subfield likewise split in code and data</documentation>
          </annotation>
        </element>
      </sequence>
    </sequence>
    <attribute name="tag_type" type="tns:_LocalFieldTagType" use="required">
      <annotation>
        <documentation xml:lang="en-uk">Defining if/how field and should be indexed and displayed, see note</documentation>
      </annotation>
    </attribute>
    <attribute ref="xml:lang" use="optional">
      <annotation>
        <documentation xml:lang="en-uk">Language of field</documentation>
      </annotation>
    </attribute>
  </complexType>
  <complexType name="_LocalFieldCodeDataType">
    <sequence>
      <!-- RdC: replaced NCName by the less restrictive LocalFieldCodeType -->
      <element name="code" type="tns:_LocalFieldCodeType">
        <annotation>
          <documentation xml:lang="en-uk">Field code (tag) using a-z and 0-9 only</documentation>
        </annotation>
      </element>
      <element name="data" type="string">
        <annotation>
          <documentation xml:lang="en-uk">Field data</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="_EventType">
    <sequence>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="title" type="tns:_EventTitleType">
          <annotation>
            <documentation xml:lang="en-uk">Title - only repeatable in case of language variants – use sub-elements below</documentation>
          </annotation>
        </element>
      </sequence>
      <sequence>
        <element name="dates" type="tns:_EventDatesType">
          <annotation>
            <documentation xml:lang="en-uk">Start and end dates of event – use sub-elements below:</documentation>
          </annotation>
        </element>
      </sequence>
      <sequence>
        <element name="place" minOccurs="0">
          <annotation>
            <documentation xml:lang="en-uk">Place (city, country) of the event/conference</documentation>
          </annotation>
        </element>
      </sequence>
      <sequence minOccurs="0">
        <element name="uri" type="anyURI">
          <annotation>
            <documentation xml:lang="en-uk">URI (URL) link to web page</documentation>
          </annotation>
        </element>
      </sequence>
    </sequence>
    <attribute name="event_role" type="tns:_EventRoleType" use="required">
      <annotation>
        <documentation xml:lang="en-uk">Role of the event in relation to the document (see note for authorised values)</documentation>
      </annotation>
    </attribute>
  </complexType>
  <complexType name="_EventTitleType">
    <sequence>
      <element name="full" type="string">
        <annotation>
          <documentation xml:lang="en-uk">Full event title, like "European Conference on Digital Libraries"</documentation>
        </annotation>
      </element>
      <element name="acronym" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Acronym event title, like "ECDL"</documentation>
        </annotation>
      </element>
      <element name="number" type="positiveInteger" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Number in series of recurrent events, like "8"</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute ref="xml:lang">
      <annotation>
        <documentation xml:lang="en-uk">Language of the event title (mandatory if title is repeated)</documentation>
      </annotation>
    </attribute>
  </complexType>
  <complexType name="_EventDatesType">
    <sequence>
      <element name="start" type="tns:_EventDateType">
        <annotation>
          <documentation xml:lang="en-uk">First day of the event in format yyyy-mm-dd, or yyyy-mm, or yyyy</documentation>
        </annotation>
      </element>
      <element name="end" type="tns:_EventDateType">
        <annotation>
          <documentation xml:lang="en-uk">Last day of the event in format yyyy-mm-dd, or yyyy-mm, or yyyy</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute ref="xml:lang"/>
  </complexType>
  <simpleType name="_EventDateType">
    <union memberTypes="gYear date gYearMonth"/>
  </simpleType>
  <complexType name="_ProjectType">
    <sequence>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="title" type="tns:_ProjectTitleType">
          <annotation>
            <documentation xml:lang="en-uk">Title - only repeatable in case of language variants – use sub-elements below</documentation>
          </annotation>
        </element>
      </sequence>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="id" type="tns:_ProjectIDType">
          <annotation>
            <documentation xml:lang="en-uk">Identification number or code</documentation>
          </annotation>
        </element>
      </sequence>
      <sequence minOccurs="0">
        <element name="uri" type="anyURI">
          <annotation>
            <documentation xml:lang="en-uk">URI (URL) link to web page</documentation>
          </annotation>
        </element>
      </sequence>
    </sequence>
    <attribute name="proj_role" type="tns:_ProjectRoleType" use="required">
      <annotation>
        <documentation xml:lang="en-uk">Role of the project in relation to the document (see note for authorised values)</documentation>
      </annotation>
    </attribute>
  </complexType>
  <complexType name="_ProjectTitleType">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="main" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Main title</documentation>
        </annotation>
      </element>
      <element name="sub" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Sub title</documentation>
        </annotation>
      </element>
      <element name="acronym" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Acronym</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute ref="xml:lang" use="required">
      <annotation>
        <documentation xml:lang="en-uk">Language of project title (mandatory if title is repeated)</documentation>
      </annotation>
    </attribute>
  </complexType>
  <complexType name="_PersonType">
    <sequence>
      <element name="name" type="tns:_PersonNameType">
        <annotation>
          <documentation xml:lang="en-uk">Pesonal name – use sub-elements below</documentation>
        </annotation>
      </element>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="id" type="tns:_PersonIDType">
          <annotation>
            <documentation xml:lang="en-uk">Identification number or code</documentation>
          </annotation>
        </element>
      </sequence>
      <sequence minOccurs="0">
        <element name="title" type="string">
          <annotation>
            <documentation xml:lang="en-uk">Personal title related to academic degree and/or job function.</documentation>
          </annotation>
        </element>
      </sequence>
      <sequence minOccurs="0">
        <element name="birthdate" type="date">
          <annotation>
            <documentation xml:lang="en-uk">In format yyyy-mm-dd</documentation>
          </annotation>
        </element>
      </sequence>
      <sequence minOccurs="0">
        <element name="country" type="tns:_CountryType" minOccurs="0">
          <annotation>
            <documentation xml:lang="en-uk">Country of citizenship using ISO country codes</documentation>
          </annotation>
        </element>
      </sequence>
      <sequence minOccurs="0">
        <element name="address" type="string">
          <annotation>
            <documentation xml:lang="en-uk">Postal address</documentation>
          </annotation>
        </element>
      </sequence>
      <sequence minOccurs="0">
        <element name="email" type="string">
          <annotation>
            <documentation xml:lang="en-uk">Email address</documentation>
          </annotation>
        </element>
      </sequence>
      <sequence minOccurs="0">
        <element name="uri" type="anyURI">
          <annotation>
            <documentation xml:lang="en-uk">URI (URL) link to web page</documentation>
          </annotation>
        </element>
      </sequence>
    </sequence>
    <attribute name="pers_role" type="tns:_PersonRoleType" use="required">
      <annotation>
        <documentation xml:lang="en-uk">Role of the person in relation to the document (see note for authorised values)</documentation>
      </annotation>
    </attribute>
    <attribute name="aff_no" type="tns:_OrganisationAffiliationNumberType" use="required">
      <annotation>
        <documentation xml:lang="en-uk">Internal reference no. of the organisation (ddf_doc/organisation/@aff_no) to which the person was affiliated while creating/contributing to this document.</documentation>
      </annotation>
    </attribute>
  </complexType>
  <complexType name="_PersonNameType">
    <sequence>
      <element name="first" type="string">
        <annotation>
          <documentation xml:lang="en-uk">First name (personal name) or initials</documentation>
        </annotation>
      </element>
      <element name="last" type="string">
        <annotation>
          <documentation xml:lang="en-uk">Last name (family name)</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="_PersonIDType">
    <simpleContent>
      <extension base="string">
        <attribute name="id_type" type="tns:_IDTypeType">
          <annotation>
            <documentation xml:lang="en-uk">Type of ID, registered with DDF - like Danish CPR no.</documentation>
          </annotation>
        </attribute>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="_ProjectIDType">
    <simpleContent>
      <extension base="string">
        <attribute name="id_type" type="tns:_IDTypeType">
          <annotation>
            <documentation xml:lang="en-uk">Type of ID, registered with DDF - like local project number</documentation>
          </annotation>
        </attribute>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="_OrganisationType">
    <sequence>
      <element name="name" type="tns:_OrganisationNameType">
        <annotation>
          <documentation xml:lang="en-uk">Name - only repeatable in case of language variants - use sub-elements below</documentation>
        </annotation>
      </element>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="id" type="tns:_OrganisationIDType">
          <annotation>
            <documentation xml:lang="en-uk">Identification number or code</documentation>
          </annotation>
        </element>
      </sequence>
      <element name="country" type="tns:_CountryType" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Country of legal residence using ISO country codes</documentation>
        </annotation>
      </element>
      <!-- RdC: added minOccurs=0 to uri -->
      <element name="uri" type="anyURI" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">URI (URL) link to web page</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="org_role" type="tns:_OrganisationRoleType" use="required">
      <annotation>
        <documentation xml:lang="en-uk">Role of the organisation in relation to the document (see note for authorised values)</documentation>
      </annotation>
    </attribute>
    <attribute name="aff_no" type="tns:_OrganisationAffiliationNumberType" use="required">
      <annotation>
        <documentation xml:lang="en-uk">Internal reference no. of the organisation. Is used to link persons with the right affiliation.</documentation>
      </annotation>
    </attribute>
  </complexType>
  <complexType name="_OrganisationNameType">
    <sequence>
      <element name="level1" type="string">
        <annotation>
          <documentation xml:lang="en-uk">Name of highest organisational level (example: university) In cases where the name cannot be split in several hierarchical levels, this sub-element contains the entire name.</documentation>
        </annotation>
      </element>
      <element name="level2" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Name of second organisational level (example: faculty)</documentation>
        </annotation>
      </element>
      <element name="level3" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Name of third organisational level (example: institute, department)</documentation>
        </annotation>
      </element>
      <element name="level4" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Name of fourth organisational level (example: section, division, group)</documentation>
        </annotation>
      </element>
      <element name="acronym" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Acronym. Whenever possible, the acronym should reflect the same organisational hierarchy as the levels of the full name, for example UNIV.FACU.INST.GRP</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute ref="xml:lang">
      <annotation>
        <documentation xml:lang="en-uk">Language of organisation name (mandatory if name is repeated)</documentation>
      </annotation>
    </attribute>
  </complexType>
  <complexType name="_OrganisationIDType">
    <simpleContent>
      <extension base="string">
        <attribute name="id_type" type="tns:_IDTypeType">
          <annotation>
            <documentation xml:lang="en-uk">Type of ID, registered with DDF - like Danish CVR no.</documentation>
          </annotation>
        </attribute>
      </extension>
    </simpleContent>
  </complexType>
  <simpleType name="_CountryType">
    <restriction base="string">
      <minLength value="2"/>
      <maxLength value="6"/>
    </restriction>
  </simpleType>
  <simpleType name="_OrganisationAffiliationNumberType">
    <restriction base="integer">
      <minInclusive value="0"/>
      <maxInclusive value="999"/>
    </restriction>
  </simpleType>
  <complexType name="_DescriptionType">
    <sequence>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="abstract" type="tns:_StringWithLanguageType">
          <annotation>
            <documentation xml:lang="en-uk">Summary of content</documentation>
          </annotation>
        </element>
      </sequence>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="note" type="tns:_StringWithLanguageType">
          <annotation>
            <documentation xml:lang="en-uk">Any descriptive note</documentation>
          </annotation>
        </element>
      </sequence>
      <sequence minOccurs="0">
        <element name="thesis" type="tns:_ThesisType">
          <annotation>
            <documentation xml:lang="en-uk">Special thesis note – use sub-elements below. The attribute ddf_doc/@doc_type is used to differentiate between different types/levels of thesis</documentation>
          </annotation>
        </element>
      </sequence>
      <sequence minOccurs="0">
        <element name="subject" type="tns:_SubjectType">
          <annotation>
            <documentation xml:lang="en-uk">Subject description – use sub-elements below.</documentation>
          </annotation>
        </element>
      </sequence>
    </sequence>
    <attribute ref="xml:lang" use="optional">
      <annotation>
        <documentation xml:lang="en-uk">Language of note</documentation>
      </annotation>
    </attribute>
  </complexType>
  <complexType name="_SubjectType">
    <sequence>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="keyword" type="tns:_KeywordType">
          <annotation>
            <documentation xml:lang="en-uk">Keywords – whether free or controlled.</documentation>
          </annotation>
        </element>
      </sequence>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="class" type="tns:_ClassType">
          <annotation>
            <documentation xml:lang="en-uk">Classification codes according to the system declared in the attribute below.</documentation>
          </annotation>
        </element>
      </sequence>
    </sequence>
  </complexType>
  <complexType name="_StringWithLanguageType">
    <simpleContent>
      <extension base="string">
        <attribute ref="xml:lang" use="optional"/>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="_ClassType">
    <simpleContent>
      <extension base="string">
        <attribute name="class_type" type="tns:_ClassTypeType">
          <annotation>
            <documentation xml:lang="en-uk">Classification system used, like "DDC", "UDC", "DEF", "DK5"</documentation>
          </annotation>
        </attribute>
        <attribute ref="xml:lang" use="optional">
          <annotation>
            <documentation xml:lang="en-uk">Language of classification</documentation>
          </annotation>
        </attribute>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="_KeywordType">
    <simpleContent>
      <extension base="string">
        <attribute name="key_type" type="tns:_KeyTypeType">
          <annotation>
            <documentation xml:lang="en-uk">Vocabulary/theasurus used, like "EUDISED", "INSPEC" or "free".</documentation>
          </annotation>
        </attribute>
        <attribute ref="xml:lang" use="optional">
          <annotation>
            <documentation xml:lang="en-uk">Language of keyword</documentation>
          </annotation>
        </attribute>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="_ThesisType">
    <sequence>
      <element name="institution" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Name of he academic institution awarding the degree</documentation>
        </annotation>
      </element>
      <element name="advisor" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Name of the academic advisor/supervisor</documentation>
        </annotation>
      </element>
      <element name="aw_date" type="date" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Date of awarded degree in format yyyy-mm-dd</documentation>
        </annotation>
      </element>
      <element name="other" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Any other information</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="_TitleOriginalType">
    <annotation>
      <documentation xml:lang="en-uk">
        The title in the original language
      </documentation>
    </annotation>
    <sequence>
      <element name="main">
        <annotation>
          <documentation xml:lang="en-uk">Main title</documentation>
        </annotation>
      </element>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="sub" type="string">
          <annotation>
            <documentation xml:lang="en-uk">Sub title</documentation>
          </annotation>
        </element>
      </sequence>
      <element name="part" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Part designation of a multipart work ("Vol. 1", "Bind 1" etc)</documentation>
        </annotation>
      </element>
      <element name="other" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Any other title information</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute ref="xml:lang" use="optional">
      <annotation>
        <documentation xml:lang="en-uk">Language of title</documentation>
      </annotation>
    </attribute>
  </complexType>
  <complexType name="_TitleTranslatedType">
    <annotation>
      <documentation xml:lang="en-uk">
        The title translated to another language
      </documentation>
    </annotation>
    <sequence>
      <element name="main">
        <annotation>
          <documentation xml:lang="en-uk">Main title</documentation>
        </annotation>
      </element>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="sub" type="string">
          <annotation>
            <documentation xml:lang="en-uk">Sub title</documentation>
          </annotation>
        </element>
      </sequence>
      <element name="part" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Part designation of a multipart work ("Vol. 1", "Bind 1" etc)</documentation>
        </annotation>
      </element>
      <element name="other" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Any other title information</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute ref="xml:lang" use="optional">
      <annotation>
        <documentation xml:lang="en-uk">Language of title</documentation>
      </annotation>
    </attribute>
  </complexType>
  <simpleType name="_RecUpdType">
    <restriction base="string"/>
  </simpleType>
  <simpleType name="_LocalFieldTagType">
    <restriction base="positiveInteger">
      <enumeration value="1">
        <annotation>
          <documentation xml:lang="en-uk">Field is neither indexed nor displayed in search module</documentation>
          <documentation xml:lang="da-dk"/>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation xml:lang="en-uk">Field may be displayed in search module</documentation>
          <documentation xml:lang="da-dk"/>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation xml:lang="en-uk">Field may be indexed in search module</documentation>
          <documentation xml:lang="da-dk"/>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation xml:lang="en-uk">Field may be indexed and displayed in search module</documentation>
          <documentation xml:lang="da-dk"/>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="_EventRoleType">
    <restriction base="string">
      <enumeration value="ep">
        <annotation>
          <documentation xml:lang="en-uk">Presented at</documentation>
          <documentation xml:lang="da-dk">Præsenteret ved</documentation>
        </annotation>
      </enumeration>
      <enumeration value="er">
        <annotation>
          <documentation xml:lang="en-uk">Related to</documentation>
          <documentation xml:lang="da-dk">Relateret til</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="_ProjectRoleType">
    <restriction base="string">
      <enumeration value="pd">
        <annotation>
          <documentation xml:lang="en-uk">Deliverable of</documentation>
          <documentation xml:lang="da-dk">Leverance fra</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pr">
        <annotation>
          <documentation xml:lang="en-uk">Related to</documentation>
          <documentation xml:lang="da-dk">Relateret til</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="_PersonRoleType">
    <restriction base="string">
      <enumeration value="pau">
        <annotation>
          <documentation xml:lang="en-uk">Author</documentation>
          <documentation xml:lang="da-dk">Forfatter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pa1">
        <annotation>
          <documentation xml:lang="en-uk">Primary author Optional – if needed to differentiate</documentation>
          <documentation xml:lang="da-dk">Primær forfatter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pa2">
        <annotation>
          <documentation xml:lang="en-uk">Secondary author Optional – if needed to differentiate</documentation>
          <documentation xml:lang="da-dk">Sekundær forfatter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ped">
        <annotation>
          <documentation xml:lang="en-uk">Editor</documentation>
          <documentation xml:lang="da-dk">Redaktør</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ppu">
        <annotation>
          <documentation xml:lang="en-uk">Publisher</documentation>
          <documentation xml:lang="da-dk">Udgiver</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ptr">
        <annotation>
          <documentation xml:lang="en-uk">Translator</documentation>
          <documentation xml:lang="da-dk">Oversætter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pil">
        <annotation>
          <documentation xml:lang="en-uk">Illustrator</documentation>
          <documentation xml:lang="da-dk">Illustrator</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="_IDTypeType">
    <restriction base="string">
      <enumeration value="cpr">
        <annotation>
          <documentation xml:lang="en-uk">CPR no. (Danish national person identification)</documentation>
          <documentation xml:lang="da-dk">CPR nr.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="cvr">
        <annotation>
          <documentation xml:lang="en-uk">CVR no. (Danish national enterprise identification)</documentation>
          <documentation xml:lang="da-dk">CVR nr.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ddf_rec">
        <annotation>
          <documentation xml:lang="en-uk">DDF record ID (Danish Research Database record ID)</documentation>
          <documentation xml:lang="da-dk">DDF post ID</documentation>
        </annotation>
      </enumeration>
      <enumeration value="loc_rec">
        <annotation>
          <documentation xml:lang="en-uk">Local record ID (Local (data supplier) record ID)</documentation>
          <documentation xml:lang="da-dk">Lokal post-ID</documentation>
        </annotation>
      </enumeration>
      <enumeration value="loc_per">
        <annotation>
          <documentation xml:lang="en-uk">Local person ID (Local (data supplier) person ID)</documentation>
          <documentation xml:lang="da-dk">Lokal person-ID</documentation>
        </annotation>
      </enumeration>
      <enumeration value="loc_pro">
        <annotation>
          <documentation xml:lang="en-uk">Local project ID (Local (data supplier) project ID)</documentation>
          <documentation xml:lang="da-dk">Lokal project-ID</documentation>
        </annotation>
      </enumeration>
      <enumeration value="loc_org">
        <annotation>
          <documentation xml:lang="en-uk">Local organisation ID (Local (data supplier) organisation ID)</documentation>
          <documentation xml:lang="da-dk">Lokal organisations-ID</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="_OrganisationRoleType">
    <restriction base="string">
      <enumeration value="oau">
        <annotation>
          <documentation xml:lang="en-uk">Corporate author</documentation>
          <documentation xml:lang="da-dk">Korporativ forfatter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="oaf">
        <annotation>
          <documentation xml:lang="en-uk">Affiliation</documentation>
          <documentation xml:lang="da-dk">Institutionstilknytning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="opu">
        <annotation>
          <documentation xml:lang="en-uk">Publisher</documentation>
          <documentation xml:lang="da-dk">Udgiver</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="_ClassTypeType">
    <restriction base="string">
      <enumeration value="ddc">
        <annotation>
          <documentation xml:lang="en-uk">Dewey</documentation>
          <documentation xml:lang="da-dk">Dewey</documentation>
        </annotation>
      </enumeration>
      <enumeration value="udc">
        <annotation>
          <documentation xml:lang="en-uk">UDC</documentation>
          <documentation xml:lang="da-dk">UDK</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dk5">
        <annotation>
          <documentation xml:lang="en-uk">DK5</documentation>
          <documentation xml:lang="da-dk">DK5</documentation>
        </annotation>
      </enumeration>
      <enumeration value="def">
        <annotation>
          <documentation xml:lang="en-uk">DEF</documentation>
          <documentation xml:lang="da-dk">DEF</documentation>
        </annotation>
      </enumeration>
      <enumeration value="loc">
        <annotation>
          <documentation xml:lang="en-uk">LOCAL</documentation>
          <documentation xml:lang="da-dk">LOCAL</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="_KeyTypeType">
    <restriction base="string">
      <enumeration value="fre">
        <annotation>
          <documentation xml:lang="en-uk">Free/uncontrolled</documentation>
          <documentation xml:lang="da-dk">Fri/ukontrolleret</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ini">
        <annotation>
          <documentation xml:lang="en-uk">INIS</documentation>
          <documentation xml:lang="da-dk">INIS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="eud">
        <annotation>
          <documentation xml:lang="en-uk">EUDISED</documentation>
          <documentation xml:lang="da-dk">EUDISED</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ins">
        <annotation>
          <documentation xml:lang="en-uk">INSPEC</documentation>
          <documentation xml:lang="da-dk">INSPEC</documentation>
        </annotation>
      </enumeration>
      <enumeration value="loc">
        <annotation>
          <documentation xml:lang="en-uk">LOCAL</documentation>
          <documentation xml:lang="da-dk">LOCAL</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="_DocTypeType">
    <restriction base="string">
      <enumeration value="dja">
        <annotation>
          <documentation xml:lang="en-uk">Journal article</documentation>
          <documentation xml:lang="da-dk">Tidsskrift-artikel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="djl">
        <annotation>
          <documentation xml:lang="en-uk">Journal comment/letter/rev.</documentation>
          <documentation xml:lang="da-dk">Tidsskrift-kommentar</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dna">
        <annotation>
          <documentation xml:lang="en-uk">Newspaper article</documentation>
          <documentation xml:lang="da-dk">Avis-artikel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="db">
        <annotation>
          <documentation xml:lang="en-uk">Book (an entire book)</documentation>
          <documentation xml:lang="da-dk">Bog</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dba">
        <annotation>
          <documentation xml:lang="en-uk">Book chapter (A chapter or article in a book)</documentation>
          <documentation xml:lang="da-dk">Bog-kapitel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dbp">
        <annotation>
          <documentation xml:lang="en-uk">Book preface, encycl. entry (Entry in encyclopedia, preface to book)</documentation>
          <documentation xml:lang="da-dk">Bog forord, leksikonartikel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dr">
        <annotation>
          <documentation xml:lang="en-uk">Report</documentation>
          <documentation xml:lang="da-dk">Rapport</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dra">
        <annotation>
          <documentation xml:lang="en-uk">Report chapter</documentation>
          <documentation xml:lang="da-dk">Rapport-kapitel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dcp">
        <annotation>
          <documentation xml:lang="en-uk">Conference paper (Full paper)</documentation>
          <documentation xml:lang="da-dk">Konference-paper</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dca">
        <annotation>
          <documentation xml:lang="en-uk">Conference abstract (Abstract only)</documentation>
          <documentation xml:lang="da-dk">Konference-abstract</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dco">
        <annotation>
          <documentation xml:lang="en-uk">Conference poster</documentation>
          <documentation xml:lang="da-dk">Konference-plakat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dct">
        <annotation>
          <documentation xml:lang="en-uk">Conference talk (Slides, video, audio of talk)</documentation>
          <documentation xml:lang="da-dk">Konference-foredrag</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dw">
        <annotation>
          <documentation xml:lang="en-uk">Working paper, (pr)eprint (Informal print or Internet publication)</documentation>
          <documentation xml:lang="da-dk">Arbejdspapir, (pr)eprint</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dln">
        <annotation>
          <documentation xml:lang="en-uk">Lecture notes</documentation>
          <documentation xml:lang="da-dk">Undervisning-noter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dl">
        <annotation>
          <documentation xml:lang="en-uk">Lecture (Slides, video, audio of lecture)</documentation>
          <documentation xml:lang="da-dk">Undervisning-forelæsning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dp">
        <annotation>
          <documentation xml:lang="en-uk">Patent</documentation>
          <documentation xml:lang="da-dk">Patent</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dtd">
        <annotation>
          <documentation xml:lang="en-uk">Thesis Doctoral</documentation>
          <documentation xml:lang="da-dk">Afhandling-Doktor</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dtp">
        <annotation>
          <documentation xml:lang="en-uk">Thesis PhD</documentation>
          <documentation xml:lang="da-dk">Afhandling-Ph.D.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dtm">
        <annotation>
          <documentation xml:lang="en-uk">Thesis Master</documentation>
          <documentation xml:lang="da-dk">Afhandling-Kandidat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dts">
        <annotation>
          <documentation xml:lang="en-uk">Student report</documentation>
          <documentation xml:lang="da-dk">Studenterrapport</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dso">
        <annotation>
          <documentation xml:lang="en-uk">Software</documentation>
          <documentation xml:lang="da-dk">Software</documentation>
        </annotation>
      </enumeration>
      <enumeration value="dd">
        <annotation>
          <documentation xml:lang="en-uk">Data set</documentation>
          <documentation xml:lang="da-dk">Datasæt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="drt">
        <annotation>
          <documentation xml:lang="en-uk">Radio/TV broadcast (Public broadcast)</documentation>
          <documentation xml:lang="da-dk">Radio/TV-udsendelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="do">
        <annotation>
          <documentation xml:lang="en-uk">Other</documentation>
          <documentation xml:lang="da-dk">Andet</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="_DocReviewType">
    <restriction base="string">
      <enumeration value="pr">
        <annotation>
          <documentation xml:lang="en-uk">Peer review</documentation>
          <documentation xml:lang="da-dk">Peer review</documentation>
        </annotation>
      </enumeration>
      <enumeration value="or">
        <annotation>
          <documentation xml:lang="en-uk">Other review (Editorial, institutional review etc.)</documentation>
          <documentation xml:lang="da-dk">Andet review</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nr">
        <annotation>
          <documentation xml:lang="en-uk">No review (The nature of the review process (if any) could not be determined)</documentation>
          <documentation xml:lang="da-dk">Intet review</documentation>
        </annotation>
      </enumeration>
      <enumeration value="und">
        <annotation>
          <documentation xml:lang="en-uk">Undetermined</documentation>
          <documentation xml:lang="da-dk">Ubestemt</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="_DocLevelType">
    <restriction base="string">
      <enumeration value="sci">
        <annotation>
          <documentation xml:lang="en-uk">Scientific</documentation>
          <documentation xml:lang="da-dk">Videnskabelig</documentation>
        </annotation>
      </enumeration>
      <enumeration value="edu">
        <annotation>
          <documentation xml:lang="en-uk">Educational</documentation>
          <documentation xml:lang="da-dk">Undervisningsrettet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pop">
        <annotation>
          <documentation xml:lang="en-uk">Popular</documentation>
          <documentation xml:lang="da-dk">Populærvidenskabelig</documentation>
        </annotation>
      </enumeration>
      <enumeration value="adm">
        <annotation>
          <documentation xml:lang="en-uk">Administrative</documentation>
          <documentation xml:lang="da-dk">Administrativ</documentation>
        </annotation>
      </enumeration>
      <enumeration value="und">
        <annotation>
          <documentation xml:lang="en-uk">Undetermined</documentation>
          <documentation xml:lang="da-dk">Ubestemt</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="_RecSourceType">
    <restriction base="string">
      <enumeration value="AAA">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Arkitektskolen i Aarhus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AARDAS">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Århus Dag- og Aftenseminarium</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AAS">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Aalborg Sygehus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AFG">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Dansk Institut for Klinisk Epidemiologi</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AGRI">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Danmarks JordbrugsForskning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AI">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">ArbejdsmiljøInformation</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AKF">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Amternes og kommunernes forskningsinstitut</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AMI">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Arbejdsmiljøinstituttet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AMR">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Arbejdsmiljørådets Service Center</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AU">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Aarhus Universitet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AUC">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Aalborg Universitet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="BIO">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Det Bioteknologiske Forsknings- og Udviklingsprogram</documentation>
        </annotation>
      </enumeration>
      <enumeration value="BIOTEKNIK">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Teknologisk Institut. Bioteknik</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CAN">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Kræftens Bekæmpelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CEMTV">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Center for Evaluering af Medicinsk Teknologivurering</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CFB">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Center for Børnelitteratur</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CUF">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Dansk Center for Internationale Studier og Menneskerettigheder</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DBI ">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Danmarks Biblioteksskole</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DDS">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Danmarks Designskole</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DFS">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Dansk Folkemindesamling</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DLH">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Danmarks Lærerhøjskole</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DMF">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Dansk Matematisk Forening</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DMU">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Danmarks Miljøundersøgelser</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DPI">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Danmarks Pædagogiske Institut</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DPU">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Danmarks Pædagogiske Universitet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DSS">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Dansk Institut for Sundheds- og Sygeplejeforskning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DTF">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Danmarks TransportForskning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DTU">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Danmarks Tekniske Universitet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ENS">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Energistyrelsen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FAR">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Danmarks Farmaceutiske Universitet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FOR ">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Forskningsstyrelsen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FOU ">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">FOU Forsknings- og udviklingscentret for Hjælpemidler og Rehabilitering</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FRI">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Forskningscenter Risø</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FSL">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Forskningscenter for Skov og Landskab</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FTU">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">FTU-programmet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GEUS">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Danmarks og Grønlands Geologiske Undersøgelse</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HHA">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Handelshøjskolen i Århus</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HHK">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Copenhagen Business School</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HHS">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Handelshøjskole Syd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IFG">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Institut for grænseregionsforskning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IFO">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Institut for Forskning i Idræt og Folkelig Oplysning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="JPSEM">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Jydsk Pædagogseminarium</documentation>
        </annotation>
      </enumeration>
      <enumeration value="KA">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Kunstakademiets Arkitektskole</documentation>
        </annotation>
      </enumeration>
      <enumeration value="KAB">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Danmarks Kunstbibliotek</documentation>
        </annotation>
      </enumeration>
      <enumeration value="KIB">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Kunstindustrimuseets Bibliotek</documentation>
        </annotation>
      </enumeration>
      <enumeration value="KU">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Københavns Universitet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="KVL">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Den Kgl. Veterinær- og Landbohøjskole</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MUP">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Det Materialeteknologiske Udviklingsprogram</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NLB">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Danmarks Natur- og Lægevidenskabelige Bibliotek</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RUC">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Roskilde Universitet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SBI">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">By og Byg. Statens Byggeforskningsinstitut</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SDU">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Syddansk Universitet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SEB">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Sekretariat for Børnekultur netværk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SHU">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Statens Husdyrbrugsforsøg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SJI">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Statens Jordbrugs- og Fiskeriøkonomiske Institut</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SP">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Statens Planteavlsforsøg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SSL">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Statens Skadedyrslaboratorium</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SUC">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Sydjysk Universitetscenter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SVS">
        <annotation>
          <documentation xml:lang="en-uk">n/a</documentation>
          <documentation xml:lang="da-dk">Statens Veterinære Serumlab. og Statens Veterinære. Inst. for Virusforskning</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="_RecStatusType">
    <restriction base="string">
      <enumeration value="n">
        <annotation>
          <documentation xml:lang="en-uk">The record is considered as new</documentation>
          <documentation xml:lang="da-dk">n/a</documentation>
        </annotation>
      </enumeration>
      <enumeration value="c">
        <annotation>
          <documentation xml:lang="en-uk">The record is considered as updated</documentation>
          <documentation xml:lang="da-dk">n/a</documentation>
        </annotation>
      </enumeration>
      <enumeration value="d">
        <annotation>
          <documentation xml:lang="en-uk">The record is considered as deleted</documentation>
          <documentation xml:lang="da-dk">n/a</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <complexType name="PublicationType">
    <choice maxOccurs="unbounded">
      <element name="in_journal" type="tns:_InJournalType">
        <annotation>
          <documentation xml:lang="en-uk">Use for articles, papers, etc. published in a journal (or submitted to a journal for publication) All data is placed in the sub-elements: title, issn, year, vol, issue, pages, paperid, doi, uri.</documentation>
        </annotation>
      </element>
      <element name="in_book" type="tns:_InBookType">
        <annotation>
          <documentation xml:lang="en-uk">Use for chapters, papers, etc. published as a part of a book (incl. proceedings in book form) All data is placed in the sub-elements: title, part, edition, editor, isbn, place, publisher, year, pages, series, uri.</documentation>
        </annotation>
      </element>
      <element name="in_report" type="tns:_InReportType">
        <annotation>
          <documentation xml:lang="en-uk">Use for chapters, papers, etc. published as a part of a report. All data is placed in the sub-elements: title, editor, isbn, rep_no, place, publisher, year, pages, uri.</documentation>
        </annotation>
      </element>
      <element name="book" type="tns:_BookType">
        <annotation>
          <documentation xml:lang="en-uk">Use when the document is an entire book All data is placed in the sub-elements: edition, isbn, place, publisher, year, pages, series, uri. Note that in this case, the book title information is placed in ddf_doc/title.</documentation>
        </annotation>
      </element>
      <element name="report" type="tns:_ReportType">
        <annotation>
          <documentation xml:lang="en-uk">Use when the document is an entire report All data is placed in the sub-elements: isbn, rep_no, place, publisher, year, pages, uri. Note that in this case, the report title information is placed in ddf_doc/title.</documentation>
        </annotation>
      </element>
      <element name="patent" type="tns:_PatentType">
        <annotation>
          <documentation xml:lang="en-uk">Use when the document is a patent (or a patent application) All data is placed in the sub-elements: country, ipc, number, date, uri.</documentation>
        </annotation>
      </element>
      <element name="inetpub" type="tns:_InetpubType">
        <annotation>
          <documentation xml:lang="en-uk">Use when published electronically on the net (institutional repository, author’s homepage, preprint server, etc.) If the document is also published in a journal, book or report, the corresponding publication cases should be used in addition. All data is placed in the sub-elements: text and uri.</documentation>
        </annotation>
      </element>
      <element name="other" type="tns:_OtherType">
        <annotation>
          <documentation xml:lang="en-uk"/>
        </annotation>
      </element>
    </choice>
  </complexType>
  <simpleType name="_PublishingStatusType">
    <restriction base="string">
      <enumeration value="s">
        <annotation>
          <documentation xml:lang="en-uk">Submitted</documentation>
          <documentation xml:lang="da-dk">Indsendt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="a">
        <annotation>
          <documentation xml:lang="en-uk">Accepted</documentation>
          <documentation xml:lang="da-dk">Accepteret</documentation>
        </annotation>
      </enumeration>
      <enumeration value="i">
        <annotation>
          <documentation xml:lang="en-uk">In press</documentation>
          <documentation xml:lang="da-dk">I trykken</documentation>
        </annotation>
      </enumeration>
      <enumeration value="p">
        <annotation>
          <documentation xml:lang="en-uk">Published</documentation>
          <documentation xml:lang="da-dk">Publiceret</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <!-- RdC: added _LocalFieldCodeType -->
  <simpleType name="_LocalFieldCodeType">
    <restriction base="string">
      <pattern value="[0-9a-zA-Z]+"/>
    </restriction>
  </simpleType>
  <simpleType name="_ISSNType">
    <restriction base="string">
      <!-- RdC: allow x or X as last char of ISSN -->
      <pattern value="\d{7}[0-9Xx]"/>
    </restriction>
  </simpleType>
  <simpleType name="_ISBNType">
    <restriction base="string">
      <!-- RdC: as of jan 2005, ISBN can be 13 digits -->
      <pattern value="\d{10,13}"/>
    </restriction>
  </simpleType>
  <simpleType name="_PagesType">
    <union>
      <simpleType>
        <restriction base="string">
          <pattern value="\d{1,6}-\d{1,6}"/>
        </restriction>
      </simpleType>
      <simpleType>
        <restriction base="positiveInteger"/>
      </simpleType>
    </union>
  </simpleType>
  <complexType name="_InJournalType">
    <sequence>
      <element name="title">
        <annotation>
          <documentation xml:lang="en-uk">Journal title</documentation>
        </annotation>
      </element>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="issn" type="tns:_ISSNType">
          <annotation>
            <documentation xml:lang="en-uk">Journal ISSN no. without dashes</documentation>
          </annotation>
        </element>
      </sequence>
      <element name="year" type="gYear" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Year of publication in format yyyy</documentation>
        </annotation>
      </element>
      <element name="vol" type="positiveInteger" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Volume number</documentation>
        </annotation>
      </element>
      <element name="issue" type="positiveInteger" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Issue number</documentation>
        </annotation>
      </element>
      <element name="pages" type="tns:_PagesType" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">In the format Firstpage-Lastpage (or in case of Paper ID, the number of pages)</documentation>
        </annotation>
      </element>
      <element name="paperid" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Paper ID, an alternative to page numbers, typically used by e-journals</documentation>
        </annotation>
      </element>
      <element name="doi" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Digital Object Identifier</documentation>
        </annotation>
      </element>
      <element name="uri" type="anyURI" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">URI (URL) link to article on the journal’s web site Information about availability at preprint servers, web sites belonging to author or author’s institution or similar should be recorded using the publication case “As an Internet publication"</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="pub_status" type="tns:_PublishingStatusType" use="required">
      <annotation>
        <documentation xml:lang="en-uk">Status of publication, like "submitted", "accepted", "published" – see note. Is mandatory for in-journal publications because the time from “submitted" to “published" is often long and may cross year boundaries.</documentation>
      </annotation>
    </attribute>
  </complexType>
  <complexType name="_InBookType">
    <sequence>
      <element name="title">
        <annotation>
          <documentation xml:lang="en-uk">Book title</documentation>
        </annotation>
      </element>
      <element name="part" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Part designation of a multipart work ("Vol. 1", "Bind 4: Middelalderen" etc.)</documentation>
        </annotation>
      </element>
      <element name="edition" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Book edition, like "2nd rev. ed."</documentation>
        </annotation>
      </element>
      <element name="editor" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Name of the (first) editor of the book</documentation>
        </annotation>
      </element>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="isbn" type="tns:_ISBNType">
          <annotation>
            <documentation xml:lang="en-uk">ISBN no. without dashes</documentation>
          </annotation>
        </element>
      </sequence>
      <element name="place" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Place of publication</documentation>
        </annotation>
      </element>
      <element name="publisher" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Name of publisher</documentation>
        </annotation>
      </element>
      <element name="year" type="gYear" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Year of publication in format yyyy</documentation>
        </annotation>
      </element>
      <element name="pages" type="tns:_PagesType" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">In the format Firstpage-Lastpage</documentation>
        </annotation>
      </element>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="series" type="string">
          <annotation>
            <documentation xml:lang="en-uk">Book series information (like “Progress in Nanotechnology, vol. 14")</documentation>
          </annotation>
        </element>
      </sequence>
      <element name="uri" type="anyURI" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">URI (URL) link to web site of book</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="pub_status" type="tns:_PublishingStatusType" use="required">
      <annotation>
        <documentation xml:lang="en-uk">Status of publication, like "submitted", "accepted", "published" Is mandatory for in-book publications because the time from “submitted" to “published" is often long and may cross year boundaries.</documentation>
      </annotation>
    </attribute>
  </complexType>
  <complexType name="_InReportType">
    <sequence>
      <element name="title">
        <annotation>
          <documentation xml:lang="en-uk">Report title</documentation>
        </annotation>
      </element>
      <element name="editor" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Name of the (first) editor of the report as a whole</documentation>
        </annotation>
      </element>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="isbn" type="tns:_ISBNType">
          <annotation>
            <documentation xml:lang="en-uk">ISBN no. without dashes</documentation>
          </annotation>
        </element>
      </sequence>
      <element name="rep_no" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Report series and number</documentation>
        </annotation>
      </element>
      <element name="place" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Place of publication</documentation>
        </annotation>
      </element>
      <element name="publisher" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Name of publisher</documentation>
        </annotation>
      </element>
      <element name="year" type="gYear" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Year of publication in format yyyy</documentation>
        </annotation>
      </element>
      <element name="pages" type="tns:_PagesType" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">In the format Firstpage-Lastpage</documentation>
        </annotation>
      </element>
      <element name="uri" type="anyURI" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">URI (URL) link to web site of report</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="pub_status" type="tns:_PublishingStatusType" use="required">
      <annotation>
        <documentation xml:lang="en-uk">Status of publication, like "submitted", "accepted", "published"</documentation>
      </annotation>
    </attribute>
  </complexType>
  <complexType name="_BookType">
    <sequence>
      <element name="edition" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Book edition, like "2nd rev. ed."</documentation>
        </annotation>
      </element>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="isbn" type="tns:_ISBNType">
          <annotation>
            <documentation xml:lang="en-uk">ISBN no. without dashes</documentation>
          </annotation>
        </element>
      </sequence>
      <element name="place" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Place of publication</documentation>
        </annotation>
      </element>
      <element name="publisher" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Name of publisher</documentation>
        </annotation>
      </element>
      <element name="year" type="gYear" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Year of publication in format yyyy</documentation>
        </annotation>
      </element>
      <element name="pages" type="positiveInteger" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Total no. of pages</documentation>
        </annotation>
      </element>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="series" type="string">
          <annotation>
            <documentation xml:lang="en-uk">Book series information (like “Progress in Nanotechnology, vol. 14")</documentation>
          </annotation>
        </element>
      </sequence>
      <element name="uri" type="anyURI" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">URI (URL) link to web site of book</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="pub_status" type="tns:_PublishingStatusType" use="required">
      <annotation>
        <documentation xml:lang="en-uk">Status of publication, like "submitted", "accepted", "published"</documentation>
      </annotation>
    </attribute>
  </complexType>
  <complexType name="_ReportType">
    <sequence>
      <sequence minOccurs="0" maxOccurs="unbounded">
        <element name="isbn" type="tns:_ISBNType">
          <annotation>
            <documentation xml:lang="en-uk">ISBN no. without dashes</documentation>
          </annotation>
        </element>
      </sequence>
      <element name="rep_no" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Report series and number</documentation>
        </annotation>
      </element>
      <element name="place" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Place of publication</documentation>
        </annotation>
      </element>
      <element name="publisher" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Name of publisher</documentation>
        </annotation>
      </element>
      <element name="year" type="gYear" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Year of publication in format yyyy</documentation>
        </annotation>
      </element>
      <element name="pages" type="positiveInteger" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Total no. of pages</documentation>
        </annotation>
      </element>
      <element name="uri" type="anyURI" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">URI (URL) link to web site of report</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="pub_status" type="tns:_PublishingStatusType" use="required">
      <annotation>
        <documentation xml:lang="en-uk">Status of publication, like "submitted", "accepted", "published"</documentation>
      </annotation>
    </attribute>
  </complexType>
  <complexType name="_PatentType">
    <sequence>
      <element name="country" type="language" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Country of patent issue using ISO country codes</documentation>
        </annotation>
      </element>
      <element name="ipc" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">International Patent Classification</documentation>
        </annotation>
      </element>
      <element name="number" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Patent no.</documentation>
        </annotation>
      </element>
      <element name="date" type="date" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">Date of status above in format yyyy-mm-dd</documentation>
        </annotation>
      </element>
      <element name="uri" type="anyURI" minOccurs="0">
        <annotation>
          <documentation xml:lang="en-uk">URI (URL) link to web site of patent</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="pub_status" type="tns:_PublishingStatusType" use="required">
      <annotation>
        <documentation xml:lang="en-uk">Status of publication, like "submitted", "accepted", "published" Is mandatory for patent publications because the time from "submitted" to "published" is often long and may cross year boundaries.</documentation>
      </annotation>
    </attribute>
  </complexType>
  <complexType name="_InetpubType">
    <sequence>
      <element name="text" type="string">
        <annotation>
          <documentation xml:lang="en-uk">Text describing the service/file behind the URI like "PDF on personal home page", "PDF in institutional repository", "LaTex at arXiv preprint server"</documentation>
        </annotation>
      </element>
      <element name="uri" type="anyURI">
        <annotation>
          <documentation xml:lang="en-uk">The URI (URL)</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="_OtherType">
    <restriction base="string"/>
  </simpleType>
</schema>
